<!-- Loop over each object in the projects array -->
<h1> Click any crossword to play!</h1>
{{#each CrossSets as |CrossSet| }}
  <div>
    <h2>{{name}}</h2>
    <p>{{configuration}}</p>
    <p>Created on: {{format_date date_created}}</p>
    <p>Created by: {{user.name}}</p>
  </div>
{{/each}}
